html {
  background: #000;
}

body {
  background: linear-gradient(to right top, black 30%, rgba(255, 255, 255, 0)), url("./asset/bg.jpeg");
  background-size: contain;
  font-family: sans-serif;
  background-repeat: no-repeat;
}

nav img {
  height: 50px;
}

.nav {
  float: right;
}

.nav button {
  border: none;
  border-radius: 5px;
  background-color: #ff4444;
}

button:hover {
  border: none;
  border-radius: 5px;
  background-color: red;
}

select {
  background: #000;
  color: white;
  border: 0.1pt solid rgb(131, 128, 128);
  padding-left: 10px;
  border-radius: 5px;
}

.nav button,
select {
  width: 80px;
  aspect-ratio: 3/1;
  color: white;
}

header {
  color: white;
  margin: 10%;
}

header h1 {
  font-size: 50px;
  font-weight: 1000;
}

header input {
  background: #000;
  border: 1px solid rgb(105, 102, 102);
  border-radius: 5px;
  margin-right: 12px;
  height: 20px;
  padding: 10px;
  aspect-ratio: 20/1;
}

header button {
  border: none;
  border-radius: 5px;
  background-color: #ff4444;
  width: 200px;
  font-size: large;
  color: white;
}

.card {
  width: 49%;
  display: flex;
  flex-wrap: wrap;
  color: white;
  justify-content: center;
  margin-top: 2%;
  background: linear-gradient(to right bottom, rgb(40, 42, 63) 40%, rgb(75, 10, 10));
}

.p1 {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: white;
}

.sec {
  margin-top: 10px;
  background: rgb(29, 29, 58);
  color: white;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;
}

.sec label {
  font-size: 25px;
}

.sec:hover {
  background: rgb(37, 37, 85);
}

footer input {
  background: none;
  border: 1px solid rgb(70, 63, 63);
  border-radius: 5px;
  width: 60%;
  height: 50px;
}

footer button {
  color: white;
  background: rgb(206, 22, 22);
  border: none;
  width: 30%;
  height: 50px;
  font-size: larger;
  font-weight: bold;
  border-radius: 5px;
}

footer button:hover {
  background: rgb(173, 13, 13);
}

footer p {
  color: rgb(180, 177, 177);
}

footer a {
  text-decoration: underline;
}

.last a {
  color: rgb(180, 177, 177);
  width: 30%;
  text-transform: capitalize;
  margin-top: 10px;
  font-size: small;
}

.last {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}